/*公共样式*/
*{
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #2f2f2f;
}
ul li {
	list-style: none;
	float: left;
}
.clear{
	clear:both;
}
a{
	text-decoration: none;
	color: #2f2f2f;
}
a:hover{
	text-decoration: underline;
}
i{
	font-style: normal;
}

.main{
	width: 1220px;
	margin: 0 auto;
}
/*top样式*/
.top{
	background: #fff;
	height: 24px;
	line-height: 24px;
	border-bottom: 1px solid #eaeaea;
}


.top ul:nth-child(1){
	float: left;
}
.top ul:nth-child(1) li:nth-child(1) i{
  color: #3e9311;
}
.top ul:nth-child(1) li:nth-child(2){
	margin-left: 24px;
}
.top ul:nth-child(1) li:nth-child(2) a{
	color: red;
}
.top ul:nth-child(1) li:nth-child(3){
	margin-left: 12px;
	color: #666;
}

.top ul:nth-child(2){
	float: right;
}
.top ul:nth-child(2) li{
	margin-left: 18px;
}
.top ul:nth-child(2) li:nth-child(1) i{
	font-size: 12px;
	color: #5e5c5d;
}
.top ul:nth-child(2) li:nth-child(2) i{
	font-size: 14px;
	color: #ff761c;
}

/*搜索栏*/
.search{
	height: 140px;

}
.search .main{
	position: relative;
}
.search .main .left,.search .main .right{
	width: 236px;
	height: 140px;
	float: left
}
.search .main .center{
    width: 748px;
	height: 140px;
	float: left;
}
.search .main .center i{
	display: inline-block;
	position: absolute;
	top: 60px;
	left: 415px;
	z-index: 1;
}
.search img{
	margin-top: 48px;
}
.search form input{
   position: absolute;
   top: 50px;
   left:410px;
   width: 410px;
   height: 30px;
   border:2px solid #3e9311;
  padding-left: 28px;

}
.search form button{
    position: absolute;
    top: 50px;
    left: 822px;
    width: 90px;
    height: 34px;
    background: #3e9311; 
    border:none;
}

.search>.hotPhone{
     position: absolute;
     right: 0;
     top: 10px;
}
.search>.hotPhone>img{
	width: 236px;
	height: 63px;
}

/*导航*/
.nav{
	height: 46px;
	background-color: #63ac15;
}
.nav>span{
	display: block;
	float: left;
}
.nav>.title{
	width: 208px;
	height: 46px;
	line-height: 46px;
}
.nav>.title>h5{
	text-align: center;

	font-size: 16px;
	color: #fff;
}
.nav>.titleR{
	display: inline-block;
    
}
.nav>.titleR>ul{
	height: 46px;
}
.nav>.titleR>ul>li>a{
	display: inline-block;
	line-height: 46px;
	font-size: 16px;
	padding:0 10px;
	color: #fff;
}

/*login*/
.login{
	margin-top: 20px;
	height: 570px;
	border: 1px solid #eee;
}
.login>h2{
	box-sizing: border-box;
	height: 40px;
	width: 100%;
	font-size: 16px;
	background: #ccc;
	padding-left: 24px;
	line-height: 40px;
	border-bottom: 2px solid #666;
}
.login>.content{
	width: 100%;
	height: 100%;
	// background: red;
}
.login>.content>.contentL{
	width: 700px;
	height: 100%;
	float: left;
	position: relative;
}
.login>.content>.contentL>img{
	width: 490px;
	height: 490px;
	position: absolute;
	top: 30px;
	right: 100px;

}
.login>.content>.contentR{
	width: 520px;
	height: 100%;
	float: left;

}
.login>.content>.contentR>form>div{
	width: 270px;
	height: 40px;
	border:1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 20px;
	position: relative;

}
.login>.content>.contentR>form>div>.tishi{
    position: absolute;
    width: 100px;
    height: 40px;
    left: 270px;
    top:-1px;
    line-height: 40px;
    margin-left: 10px;
    color: red;
    display: none;
}
.login>.content>.contentR>form>.user{
    margin-top: 108px;

}

.login>.content>.contentR>form>div>span{
	display: block;
	width: 70px;
	float: left;
	height: 100%;
	text-align: right;
	line-height: 40px;
	padding-right: 10px;
	box-sizing: border-box;
    font-size: 14px;
	border-right: 1px solid #ccc;
}
.login>.content>.contentR>form>div>input{
	width: 200px;
	height: 100%;
	border: none;
	outline: none;
}

.login>.content>.contentR>form>.num{
	position: relative;
}
.login>.content>.contentR>form>.num>.random{
	width: 90px;
	height: 100%;
	position: absolute;
	right: 0;
	top: -1px;
	border: 1px solid #6a2c00;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	font-weight: bolder;
	color: #c30;
}
.login>.content>.contentR>form>button{
	width: 94px;
	height: 40px;
	background: #ff7800;
	border: 0;
	border-radius: 3px;
	color: #fff;
	font-size: 18px;
}

.login>.content>.contentR>form>p>a{
	color: #ccc;
	font-size: 14px;
	line-height: 20px;
}


/*footTitle*/
.footTitle{
	height: 94px;
}
.footTitle>ul{
	background-color: #f5f5f5;
	width: 100%;
	height: 94px;
	display: flex;
	justify-content:space-between;
	margin-top: 60px;
}
.footTitle>ul>li{
	width: 25%;
	height: 94px;
	position: relative;
	
}
.footTitle>ul>li>p:nth-child(1){
	font-size: 24px;
	color: #000;
	padding-left:100px;
	padding-top: 24px;
	font-weight: bold;
}
.footTitle>ul>li>p:nth-child(2){
	font-size: 18px;
	color: #999;
	padding-left: 100px;
}
.footTitle>ul>li>span{
	display: block;
	position: absolute;
	border-left: 1px solid #999;
	width: 1px;
	height: 40px;
	right: 0;
	top: 27px;
}

.footTitle>ul>li:nth-child(1){
	background: url('../images/salable.png') no-repeat 40px 24px;
}
.footTitle>ul>li:nth-child(2){
	background: url('../images/family_brand.png') no-repeat 40px 24px;
}
.footTitle>ul>li:nth-child(3){
	background: url('../images/7day.png') no-repeat 40px 24px;
}
.footTitle>ul>li:nth-child(4){
	background: url('../images/shoppingguide.png') no-repeat 40px 24px;
}

/*about*/
.about{
	height: 30px;
	background-color: #363533;

}
.about ul{
	width: 350px;
	height: 100%;
	margin: 0 auto;
}
.about ul li{
	line-height: 30px;
}
.about ul li a{
	padding:0 10px;
	color: #cccccc;
	font-size: 12px;
	text-decoration: none;
}

/*footcnt*/
.footCnt{
	height: 222px;
}
.footCnt li{
	width: 185px;
	text-align: center;
	margin-top: 22px;
	position: relative;
}

.footCnt li dl dt{
	color: #000;
	font-size: 16px;
	line-height: 25px;
	font-weight: bolder;
}
.footCnt li dl dd{
	color: #666;
	font-size: 12px;
	line-height: 25px;
}
.footCnt li a{
	text-decoration: none;
}
.footCnt li>span{
	display: block;
	position: absolute;
	border-left: 1px solid #999;
	width: 1px;
	height: 56px;
	right: 0;
	top: 27px;
}

.copy{
	height: 60px;
	line-height: 50px;
	text-align: center;
	font-size: 12px;
	color: #646464;
}














